<%- include("sidebar.ejs") %>
<div class="max-w-3xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="mt-5 ml-11 p-10 relative z-10 bg-white border drop-shadow-lg rounded-xl sm:mt-0 md:p-10">
        <main id="content" class="w-full max-w-md mx-auto p-6">
            <!-- Avatar Media -->
            <div class=" flex justify-center items-center mb-7">
                  <img class="size-48 rounded-full" src="/stylesheets/images/profile.jpeg" alt="Image Description">
            </div>
            <!-- End Avatar Media -->
          </main>
    <div class="text-center mb-8">
      <h2 class="text-2xl md:text-2xl font-bold text-gray-800 dark:text-neutral-200">
        Profile
      </h2>
    </div>
    <form action="">
      <div class="mb-4 sm:mb-8">
        <label for="nama_lengkap" class="block mb-2 text-sm font-medium">Nama</label>
        <input type="" id="current_password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="- Nama Lengkap -" style="font-style: italic;">
      </div>
      <div class="mb-4 sm:mb-8">
        <label for="password" class="block mb-2 text-sm font-medium">NIM</label>
        <input type="text" id="current_password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="- Password -" style="font-style: italic;">
      </div>   
      <div class="mb-4 sm:mb-8">
        <label for="no_hp" class="block mb-2 text-sm font-medium">No Kontak</label>
        <input type="text" id="current_password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="- No. Hp -" style="font-style: italic;">
      </div>  
      <div class="mb-4 sm:mb-8">
        <label for="email" class="block mb-2 text-sm font-medium">Email</label>
        <input type="text" id="current_password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="- Email -" style="font-style: italic;">
      </div>    

        <div class="mt-5 flex justify-end gap-x-2">
          <button type="submit" class="py-1 px-3 inline-flex m-5 items-center gap-x-2 text-base font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" style="font-size: initial;">
            Ubah Profile
          </button>
        </div>
    </form>
  </div>
  <!-- End Card -->
  </div>
    </form>
  </div>

  